:root {
    --primary: #d81e5b;
    --darker-primary: #d11b57;
    --dark: #131a26;
    --lighter-dark: #192130;
    --darker-dark: #0d121b;
    --light: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    font-family: "Calibri", sans-serif;
}

button {
    appearance: none;
    border: none;
    outline: none;

    padding: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculator {
    background-color: var(--lighter-dark);
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    overflow: hidden;
    font-weight: 600;
}

.display {
    background-color: var(--darker-dark);
    color: var(--light);
    padding: 30px;
    text-align: right;
}

.display span {
    color: var(--lighter-dark);
    font-size: 14px;
    font-weight: 100;
    margin-right: 10px;
}

.operators {
    display: flex;
}

.operators button {
    background-color: var(--primary);
    color: var(--light);
    flex: 1;
    font-size: 16px;
    padding: 12px;
}

.operators button:not(:last-child) {
    border-right: 1px solid var(--darker-primary);
}
